<nav>
        <div class="container">
            <div style="margin-right: 30%;" id="logo-box">
                <a href="index" class="logo text-uppercase"><i class="fa-solid fa-microchip"></i>bilgisayar</a>
            </div>

            <div id="nav-links" class="responsive">
                <ul>
                    <li class="nav-item text-uppercase nav-icon">
                        <a href="#" class="nav-link">
                            MENÜ
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-bars"></i>
                            

                        </a>
                    </li>
                    <li class="nav-item text-uppercase">
                        <a href="uye_ol" class="nav-link">
                            <i class="fa-solid fa-user-plus"></i> Kayıt Ol
                        </a>
                    <li class="nav-item text-uppercase">
                        <a href="giris_yap" class="nav-link">
                            <i class="fa-solid fa-right-to-bracket"></i> Giriş Yap
                        </a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>