<div id="left-bar">



        <div id="arama">
            <form action="/search" method="GET">

            
            <input style="float:left;" class="arama" type="text" name="look" placeholder="Ürün Ara">
            <button id="arama-buton" type="submit" style="float:right;"><i class="fa-solid fa-magnifying-glass"></i></button>

            </form>
        </div>


        <div style="float:left" id="menu">
            <ul>
                <li>
                    <a href="islemci"></i>İşlemci</a>
                </li>
                <li>
                    <a href="ekran_karti"></i>Ekran Kartı</a>
                </li>
                <li>
                    <a href="anakart">Anakart</a>
                </li>
                <li>
                    <a href="ram">RAM</a>
                </li>
                <li>
                    <a href="depolama">Depolama</a>
                </li>
                <li>
                    <a href="bilgisayar_kasa">Bilgisayar Kasası</a>
                </li>
                <li>
                    <a href="sogutucu">İşlemci Soğutucu</a>
                </li>
                <li>
                    <a href="psu">Güç Kaynağı</a>
                </li>
                
            </ul>
        </div>

    </div>