<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilgisayar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/giris_yap_style.css">
    <link rel="shortcut icon" type="x-icon" href="images/title_icon.png">
</head>

<body>
    <div class="giris-ekrani">
        <div class="form">
            


            <a style="text-decoration: none;" href="index">
                <p style="font-size: 40px; color:orange"><i class="fa-solid fa-microchip"></i>BILGISAYAR</p>
            </a>
            <form action="/giris_yap" method="POST">
            <input name="email" style="margin-top: 40px;" type="email" placeholder="E-Posta Adresi">
            <input name="password" type="password" placeholder="Şifre">
            <br>
            <a href="hesabim.html">
                <button type="submit" class="giris-yap-button">Giriş Yap</button>
            </a>
            <br>

             </form>

            <a style="color:black" href="sifremi_unuttum.html"> Şifremi Unuttum</a>
            <br>

            <a href="uye_ol">
                <button class="uye-ol-button">Üye Ol</button>
            </a>

        </div>
    </div>
    </div>

</body>

</html>