<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta mame="author" content="">
    <title>Bilgisayar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/hesabim_style.css">
    <link rel="shortcut icon" type="x-icon" href="images/title_icon.png">


</head>

<body>
    <nav>
        <div class="container">
            <div style="margin-right: 30%;" id="logo-box">
                <a href="index" class="logo text-uppercase"><i class="fa-solid fa-microchip"></i>BILGISAYAR</a>
            </div>
            
            <div id="nav-links" class="responsive">
                <ul>
                    <li class="nav-item text-uppercase nav-icon">
                        <a href="#" class="nav-link">
                            MENÜ
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-bars"></i>


                        </a>
                    </li>
                    <li class="nav-item text-uppercase">

                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-cart-shopping"></i> Sepetim
                        </a>
                    <li class="nav-item text-uppercase">
                        <a href="hesabim" class="nav-link">
                            <i style="font-size: 22px;" class="fa-solid fa-user"> </i> Eray
                        </a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="left-bar">

        <div style="float:left" id="menu">
            <ul>
                <li>
                    <a href="islemci"></i>İşlemci</a>
                </li>
                <li>
                    <a href="ekran_karti"></i>Ekran Kartı</a>
                </li>
                <li>
                    <a href="anakart">Anakart</a>
                </li>
                <li>
                    <a href="ram">RAM</a>
                </li>
                <li>
                    <a href="depolama">Depolama</a>
                </li>
                <li>
                    <a href="bilgisayar_kasa">Bilgisayar Kasası</a>
                </li>
                <li>
                    <a href="sogutucu">İşlemci Soğutucu</a>
                </li>
                <li>
                    <a href="psu">Güç Kaynağı</a>
                </li>

            </ul>
        </div>

    </div>

    <div id="siparislerim">
        <div id="header">
            <a style="color:blue;" href="index">Ana Sayfa&nbsp; </a> <i class="fa-solid fa-angle-right"></i>
            <a style="color:black;" href="hesabim">&nbsp; Hesabım&nbsp;</a>

        </div>
        <div class="siparisler">
            <div id="ToplamTutar" class="items">
                <span style="color:orange">Sipariş No</span>
                <br>
                <span>5164889156165668748671566154987156867416</span>
            </div>
            <div id="SiparisTarihi" class="items">
                <span style="color:orange">Sipariş Tarihi</span>
                <br>
                <span>13.03.2022</span>

            </div>
            <div id="SiparisDurumu" class="items">
                <span style="color:orange">Sipariş Durumu</span>
                <br>
                <span>Kargoda</span>

            </div>
            <div id="TeslimatAdresi" class="items">
                <span style="color:orange">Teslimat Adresi</span>
                <br>
                <span>Ev</span>
            </div>
            <div id="ToplamTutar" class="items">
                <span style="color:orange">Toplam Tutar</span>
                <br>
                <span>999₺</span>
            </div>
            <div style="margin-top: 35px;" id="SiparisDetay" class="items">
                <button>Sipariş Detayı</button>
            </div>
        </div>

        <div class="siparisler">
            <div id="ToplamTutar" class="items">
                <span style="color:orange">Sipariş No</span>
                <br>
                <span></span>
            </div>
            <div id="SiparisTarihi" class="items">
                <span style="color:orange">Sipariş Tarihi</span>
                <br>
                <span></span>

            </div>
            <div id="SiparisDurumu" class="items">
                <span style="color:orange">Sipariş Durumu</span>
                <br>
                <span></span>

            </div>
            <div id="TeslimatAdresi" class="items">
                <span style="color:orange">Teslimat Adresi</span>
                <br>
                <span></span>
            </div>
            <div id="ToplamTutar" class="items">
                <span style="color:orange">Toplam Tutar</span>
                <br>
                <span></span>
            </div>
            <div style="margin-top: 35px;" id="SiparisDetay" class="items">
                <button>Sipariş Detayı</button>
            </div>
        </div>

        <div class="siparisler">
            <div id="ToplamTutar" class="items">
                <span style="color:orange">Sipariş No</span>
                <br>
                <span></span>
            </div>
            <div id="SiparisTarihi" class="items">
                <span style="color:orange">Sipariş Tarihi</span>
                <br>
                <span></span>

            </div>
            <div id="SiparisDurumu" class="items">
                <span style="color:orange">Sipariş Durumu</span>
                <br>
                <span></span>

            </div>
            <div id="TeslimatAdresi" class="items">
                <span style="color:orange">Teslimat Adresi</span>
                <br>
                <span></span>
            </div>
            <div id="ToplamTutar" class="items">
                <span style="color:orange">Toplam Tutar</span>
                <br>
                <span></span>
            </div>
            <div style="margin-top: 35px;" id="SiparisDetay" class="items">
                <button>Sipariş Detayı</button>
            </div>
        </div>

        <div class="siparisler">
            <div id="ToplamTutar" class="items">
                <span style="color:orange">Sipariş No</span>
                <br>
                <span></span>
            </div>
            <div id="SiparisTarihi" class="items">
                <span style="color:orange">Sipariş Tarihi</span>
                <br>
                <span></span>

            </div>
            <div id="SiparisDurumu" class="items">
                <span style="color:orange">Sipariş Durumu</span>
                <br>
                <span></span>

            </div>
            <div id="TeslimatAdresi" class="items">
                <span style="color:orange">Teslimat Adresi</span>
                <br>
                <span></span>
            </div>
            <div id="ToplamTutar" class="items">
                <span style="color:orange">Toplam Tutar</span>
                <br>
                <span></span>
            </div>
            <div style="margin-top: 35px;" id="SiparisDetay" class="items">
                <button>Sipariş Detayı</button>
            </div>
        </div>
        <div class="siparisler">
            <div id="ToplamTutar" class="items">
                <span style="color:orange">Sipariş No</span>
                <br>
                <span></span>
            </div>
            <div id="SiparisTarihi" class="items">
                <span style="color:orange">Sipariş Tarihi</span>
                <br>
                <span></span>

            </div>
            <div id="SiparisDurumu" class="items">
                <span style="color:orange">Sipariş Durumu</span>
                <br>
                <span></span>

            </div>
            <div id="TeslimatAdresi" class="items">
                <span style="color:orange">Teslimat Adresi</span>
                <br>
                <span></span>
            </div>
            <div id="ToplamTutar" class="items">
                <span style="color:orange">Toplam Tutar</span>
                <br>
                <span></span>
            </div>
            <div style="margin-top: 35px;" id="SiparisDetay" class="items">
                <button>Sipariş Detayı</button>
            </div>
        </div>

    </div>

    <div id="hesap-ayarlari">
        <div class="hesap-ayarlari">

                <button>Adreslerim <br><br><i style="font-size:30px" class="fa-solid fa-house-user"></i></button>

            
        </div>
        <div class="hesap-ayarlari">
            <button>İptal ve İade <br> <br> <i style="font-size:30px"
                    class="fa-solid fa-arrow-rotate-left"></i></button>
        </div>
        <div class="hesap-ayarlari">
            <button onclick="window.location.href = 'iletisim';">Bize Ulaşın <br><br><i style="font-size:30px"
                    class="fa-solid fa-envelope"></i></button>
        </div>
        <div class="hesap-ayarlari">
            <button onclick="window.location.href = '/sifre_degistir';">Şifre Değiştir <br><br> <i
                    style="font-size:30px" class="fa-solid fa-key"></i></button>
        </div>
    </div>

    <div id="section-i">
        <div class="i">
            <h4>Eray BAHÇEGÜLÜ - 201913172806</h2>
        </div>

    </div>

    <a id="gotopbuton" href="#"><i class="fa-solid fa-arrow-up"></i></a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(".nav-icon").click(function () {
            $("#nav-links").toggleClass("responsive");
            return false;

        });
    </script>
</body>

</html>