<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilgisayar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/iletisim_style.css">
    <link rel="shortcut icon" type="x-icon" href="images/title_icon.png">
</head>

<body>
    <div class="iletisim-ekrani">
        <div class="form">
            <div class="iletisim-form">

            </div>

            <form action="/iletisim/iletisim_test" method="POST">
            <a style="text-decoration: none;" href="index">
                <p style="font-size: 40px; color:orange"><i class="fa-solid fa-microchip"></i>BILGISAYAR</p>
            </a>
            <p style="margin:30px">BİZE ULAŞIN</p>
            <div  id="ad" style="float:left; margin-left: 80px;">
                <div>
                    <p>Adınız*</p>

                    <input name="ad" type="text" placeholder="Adınız">
                </div>

            </div>

            <div  id="soyad" style="float:right; margin-right: 80px;">
                <div>
                    <p>Soyadınız*</p>

                    <input name="soyad" type="text" placeholder="Soyadınız">
                </div>

            </div>

            <div  id="e-posta" style="float:left; margin-top: 20px; margin-left: 80px;">
                <div>
                    <p>E-Posta Adresiniz*</p>

                    <input name="email" type="email" placeholder="E-Posta Adresiniz">
                </div>
            </div>

            <div  id="telefon" style="float:right;margin-top: 20px; margin-right: 80px;">
                <div>
                    <p>Telefonunuz*</p>

                    <input  name="tel" type="tel" placeholder="Telefonunuz">
                </div>

            </div>

            <div  id="mesaj" style="float:left;margin-top: 20px; margin-left: 80px;">
                <div>
                    <p>Mesajınız*</p>
                    <textarea name="mesaj" placeholder="Mesajınız" name="" id="" cols="30" rows="10"></textarea>
                </div>

            </div>


            <div>
                <button style="float:left; margin-top: 10px;" class="iletisim-button">Gönder</button>
            </div>
        </form>

            <div style="margin-top: 520px; margin-left: 50px;">
                <a style="float:left" href="hesabim">
                    <i style="color:orange; font-size:50px;"
                        class="fa-solid fa-circle-chevron-left"></i>
                </a>
            </div>


        </div>



    </div>
    </div>
    </div>

</body>

</html>