<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilgisayar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/sifremi_unuttum_style.css">
    <link rel="shortcut icon" type="x-icon" href="images/title_icon.png">
</head>
<body>
    <div class="sifirlama-ekrani">
        <div class="form">
            <div class="sifirlama-form">

            </div>
                <a style="text-decoration: none;" href="index.html"><p style="font-size: 40px; color:orange"><i class="fa-solid fa-microchip"></i>BILGISAYAR</p>
                </a>
                <p style="margin:30px">Şifremi Unuttum</p>
                <input style="margin-top: 10px;" type="text" placeholder="E-Posta Adresi">
                
                 <button style="float:left; margin-top: 10px;"class="sifirlama-button">Sıfırlama Postası Gönder</button>
                  
                 <a href="giris_yap">
                    <i style="color:orange; font-size:30px; float:left; margin-top:20px;" class="fa-solid fa-circle-chevron-left"></i>
                 </a>
                 
                </div>
                
                
                
            </div>
        </div>
    </div>
    
</body>
</html>